* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.top-bar {
    background-color: #333;
    color: #FF4242;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    font-weight: bold;
}

.login-button {
    padding: 5px 10px;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
}

.banner {
    /* More banner styling thingies */
    background-position: center;
    /* Example: */
    height: 220px;
    background-color: #ccc;
}

.banner-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navigation-bar {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu li {
    position: relative;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.menu ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 10px;
}

.menu li:hover > ul {
    display: block;
}

.menu ul li {
    width: 200px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 0;
    display: block;
}
