* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu li {
    position: relative;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.bannerimg {
    background-image: url("images/PB_Banner.png");
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    background: linear-gradient(to bottom right, #e5c689, #f8c29f);
    min-height: 100vh;
    color: #fff;
}
